
<div id="top-container">数字タッチゲーム　0〜24を順番にタッチ</div>
<div id="container">
  <div id="timer">0.0</div>  <!-- ダミーテキスト -->
  <ul id="board">
    
  </ul>
  <div id="btn">START</div>
</div>
<%# 
<%= link_to image_tag("animal_chara_computer_neko.png", class:"icon-neko"), "/" %> 